<title>Zacbnb</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>	
	
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="https://www.immobiliare5terre.com/wp-content/uploads/2018/01/mana1.jpg" alt="First slide" width="1234" height="360">
      <p id="welcomehome">
	<span id="airbnbnb">Zacbnb</span><br>
	Book unique homes and <br>experiences all over the world.<br>
	</p>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://www.silverbirdsafari-africa.com/blog/wp-content/uploads/2015/12/Italy.jpg" alt="Second slide" width="1234" height="360">
      <p id="welcomehome">
	<span id="airbnbnb">Airbnb</span><br>
	Book unique homes and <br>experiences all over the world.<br>
	</p>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/E5A-UKCHl/water-splashes-from-wooden-thai-boat-while-traveling-on-the-sea-travel-background-hd-video-footage_e35ewzzie__F0000.png" alt="Third slide" width="1234" height="360">
      <p id="welcomehome">
	<span id="airbnbnb">Airbnb</span><br>
	Book unique homes and <br>experiences all over the world.<br>
	</p>
    </div>
  </div>
</div>


	<div>

<% if signed_in? -%>
	<div id="first">
	<h1 class="listingindex">Become Host</h1>
	<p>
	Discover entire homes and private rooms perfect for any trip.

	</p>
</div>
	<div class="createbutton">	<%= link_to "Create", new_listing_path, class:"btn btn-outline-primary btn-lg"%></div>
<div id="search">
	<%= form_tag listings_path,method: :get, remote: true do %>
	<%= text_field_tag :title,params[:title] %>
	<%= submit_tag 'Search' %>
	<%end%>
</div>
<div id="listingsearch">

</div>

	<div>
<div id="alllist">
	<%= render 'partial' %>
    <% else %>
    <div id="signinbutt">
      </div>

    <% end -%>
</div>
</div>
	<div id="airbnb">
	Social<br>
	<%= link_to users_path do %><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/2000px-New_Logo_Gmail.svg.png" width="150" height="100">
	<% end %>
</div>

</body>

