
<div class="newform">
<%= form_for @listing do |f| %>
  City :<br><%= f.text_field :title %><br /><br>
  Descrption:<br>  <%= f.text_field :description %><br /><br>
  Price :<br> <%= f.text_field :location %><br /><br>
  <div><%= f.label :amenities %>:</div>
  <div><%= f.check_box :amenities, {:multiple => true,class: 'kitchen'}, 'kitchen', nil%> Kitchen</div>
  <div><%= f.check_box :amenities, {:multiple => true}, 'pool', nil%> Pool</div>
  <div><%= f.check_box :amenities, {:multiple => true}, 'gym', nil%> Gym</div>
  <div><%= f.check_box :amenities, {:multiple => true}, 'balcony', nil%> Balcony</div>
  <div>Upload your image <%= f.file_field :image %><br /></div>

  <%= f.submit %>

  <%= link_to "Go Back", root_path, class:"btn btn-danger"%>
<% end %>
</div>

