<head>

</head>

<body>
	<div id="topdescript">
	<h1><span class="toptitle"><%=@listing.title%></span><br></h1>
		<%=@listing.description%><br>
      <%= image_tag @listing.image.url,:size => "600x540"%>
	</div>

<div class="datesubmit">
	
<h1>Reservation</h1>
<%= form_for ([@listing, @reservation]) do |s| %>
<p>Start Date:<%= s.text_field :startdate, id:"start"%> </p>
<p>End Date:<%= s.text_field :enddate, id:"end"%></p>
<p>Guests:<%= s.select :guests, [1,2,3,4,5] %></p>
  	<%= s.submitw "Book now!",class:"btn btn-warning" %>
  	<%= link_to "Go Back", root_path, class:"btn btn-danger"%>

<% end %>
</div>
</div>

<script>
	flatpickr('#start', {dateFormat: 'd-m-y'})
	flatpickr('#end', {dateFormat: 'd-m-y'})

</script>

</body>