<!DOCTYPE html>
<html>
<head>
  <title>Airbnb</title>
  <link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/material_red.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <link rel="icon" type="image/png" href="https://p2a-images.s3.amazonaws.com/production/customers/532/YemNriz3uu6a60oQeu6714756919108024.png">
  <%= stylesheet_link_tag 'application'%>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tag %>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/"><img src="https://p2a-images.s3.amazonaws.com/production/customers/532/YemNriz3uu6a60oQeu6714756919108024.png" width="50px" height="50px"></a>
  <a class="navbar-brand" href="/">  Airbnb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Become a host <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/sign_in">Login</a>
          <a class="dropdown-item" href="/sign_up">Register</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/sign_out">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Get lost</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>



    <div id="header">



    <% if signed_in? -%>
     <div id="signoutbutton"> <%= button_to t(".sign_out"), sign_out_path, method: :delete %></div>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
      <p><%= link_to 'Sign in with Facebook', "/auth/facebook" %></p>
    <% end -%>
  </div>
  </div>
</nav>


  <div id="flash">
    <% flash.each do |key, value| -%>
      <div class="alert alert-info"_<%= key %> ><%=h value %></div>
</div>
    <% end %>
  </div>
 
  <%= yield %>
</body>
</html>
